<style>
.custom-card-container {
	svg {
		position: absolute;
		z-index: 1;
	}
}
.custom-card {
	position: absolute;
	top: 49%;
	left: 50%;
	transform: translate(-50%, -50%);
}
</style>

<div class="custom-card-container">
	<div class="custom-card">
		<div class="avatar">👩🏼‍💻</div>
		<h4 isolate="">@pourquoi_pas_toi</h4>
		<div class="stats">
			<div><b>811</b><span>Suivis</span></div>
			<div><b>9,6k</b><span>followers</span></div>
			<div><b>40,2k</b><span>likes</span></div>
		</div>
		<div class="divider"></div>
		<div class="stats">
			<div><b>1,2k</b><span>Suivis</span></div>
			<div><b>334,4k</b><span>followers</span></div>
			<div><b>902,5k</b><span>likes</span></div>
		</div>
	</div>
	<svg width="1149" height="705" viewBox="0 0 955 600" xmlns="http://www.w3.org/2000/svg" alt="how">
		<path
			id="Vector"
			d="M978.436 132.448V600L199.783 460.744C73.187 442.906-14.982 325.818 2.857 199.22 20.693 72.623 137.781-15.545 264.38 2.293l714.056 130.155Z"
			fill="url(#paint0_linear_76_35181)"></path>
		<defs>
			<linearGradient id="paint0_linear_76_35181" x1="43.102" y1="787.821" x2="679.388" y2="646.862" gradientUnits="userSpaceOnUse">
				<stop stop-color="#F9CE34"></stop>
				<stop offset="0.505" stop-color="#EE2A7B"></stop>
				<stop offset="1" stop-color="#6228D7"></stop>
			</linearGradient>
		</defs>
	</svg>
</div>
